<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Khoa Pham</title>
    </head>
    <body>
        <h3>EJS <%= giatri %></h3>
        <form action="/try" method="POST">
            <input type="text" name="username111" placeholder="Enter your name" />
            <br /><br />
            <input type="password" name="password" placeholder="Enter your password" />
            <br /><br />
            <button>POST DATA</button>
        </form>
    </body>
</html>